@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,600,800');
body{font-family: 'Open Sans', sans-serif;}
/* navbar */
.navbar .navbar-brand {color: #fff;font-weight: bold;font-size: 30px;}
/* header */
.header{background: url(../images/header.jpg) no-repeat center center;position: relative;color: #fff;}

.header .overlay{padding-top: 130px;padding-bottom: 50px;background-color: rgba(0, 0, 0, .5);}

.header h1{font-weight: bold;font-size: 50px;margin-top: 0;}

.header h1 span{font-weight: 100;color: #ff8b38;}

.header h1 ~ .lead{font-size: 30px;color: #fff !important;}

.header h1 ~ .lead::after{background-color: #fff;}

.header p:nth-child(3){font-family: 'Raleway', sans-serif;line-height: 2;}

.header form{width: 360px;background-color: #fff;border-radius: 5px;overflow: hidden;}

.header form p{background-color: #f5f5f5;color: #333;padding: 15px 25px;font-size: 18px;margin-top: 0;font-weight: bold;}

.header form p span,
.navbar span {color: #ff8b38;}

.header form .form-control{width: 80%;margin:40px auto;border-radius: 0;border: none;box-shadow: none;border-bottom: 1px solid #ccc;}

.header form input[type="submit"]{border-radius: 0;}
/* tabs section */
.tabs { background-color: #f5f5f5;}

.tabs .tab-switch li{
    border-bottom: 1px solid #fff;
    background-color: #333;
    font-size: 20px;
    color: #fff;
    padding: 0;
    margin-top: 0;
    border-radius: 10px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    cursor: pointer;
}

.tabs .tab-switch li:hover{background-color: #ff8b38;}

.tabs .tabs-content{padding-left: 50px;}

.tabs .tabs-content .tab1 h2{margin-top: 0;font-size: 25px;font-weight: bold;margin-bottom: 20px;}

.tabs .tabs-content p{line-height: 1.6;font-size: 18px;}

/* sublist section */
.sublist .sublist-head{font-weight: bold;font-size: 22px;}

.sublist .sublist-desc{line-height: 1.7;margin-bottom: 25px;}

.sublist .list-icon{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;}

.sublist .list-icon .icon-desc{width: calc(100% - 70px);}

.sublist .list-icon .icon-desc h4{font-weight: bold;font-size: 18px;}

.sublist .list-icon i{height: 40px;width: 40px;color: #ff8b38;border: 2px solid #ff8b38;border-radius: 50%;line-height: 40px;text-align: center;}

/* standard picture section */
.standard-pic{background-color: #f5f5f5;}
/* why this is awesome */
.why-awsome h5{font-weight: 500;font-size: 40px;font-family:  'Raleway', sans-serif;}

.why-awsome .awesome-desc{margin-bottom: 50px;}

.why-awsome i{color: #ff8b38;height: 70px;width: 70px;line-height: 65px;border: 2px solid #ff8b38;border-radius: 50%;}

.why-awsome h6{font-size: 20px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;}

/* price option */
.price-plan {background-color: #f5f5f5;}

.price-plan h6{font-size: 40px;}

.price-plan .plan-desc{margin-bottom: 50px;}

.price-plan .pric-box {background-color: #fff;}

.price-plan .pric-box p{background-color: #333;color: #fff;padding: 15px 0;margin: 0;font-weight: bold;border-bottom: 1px solid #fff;font-size: 24px;}

.price-plan .pric-box .price-option{background-color: #333;color: #fff;padding: 10px 0 20px;border-bottom: 5px solid #ff8b38;}

.price-plan  .price{font-size: 70px;display: block;font-weight: 600;font-family: 'Raleway' ,sans-serif;}

.price-plan .price .usd{font-size: 20px;}

.price-plan .period{font-style: italic;}

.price-plan .pric-box .popular{color: #fff;padding: 5px 10px 10px;margin-bottom: 0;font-weight: bold;background-color: #ff8b38;}

.price-plan .pric-box ul li{padding: 10px;border-bottom: .5px solid #f5f5f5;}

.price-plan .basic,
.price-plan .enterprise{margin-top: 48px;}

/* Testemonials */
.what-says h6{font-weight: 500;font-size: 40px;font-family:  'Raleway', sans-serif;}

.what-says .awesome-desc{margin-bottom: 50px;color: #b9b9b9;}

.what-says .customer-info {background-color: #f5f5f5;padding: 25px 15px;color: #abaaaa;border-radius: 10px;position: relative;margin-bottom: 20px;}

.what-says .customer-info:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px;
    border-color: #f5f5f5 transparent transparent;
    position: absolute;
    left: 25px;
    bottom: -30px;
}
.what-says .client-head{font-size: 24px;font-weight: bold;margin-top: 15px;}

/* stylish section */
.stylish{background-image: url(../images/stylebg.jpg);background-position: center;}

.stylish .overlay{padding: 40px 0;color: #fff;background-color: rgba(0, 0, 0, .5);}

.stylish h6{font-size: 40px;margin: 0;font-family:  'Raleway', sans-serif;}

.stylish p{margin-bottom: 50px;color: #fff;}
.stylish button{display: block;margin: auto;}

.stylish .head-border:after {background-color: #ffffff;}

/* contact us */
.contact-us h6{font-size: 40px;margin: 0;font-family:  'Raleway', sans-serif;}

.contact-us p{margin-bottom: 50px;}

.contact-us form input[type="text"],
.contact-us form input[type="email"]{
    margin-bottom: 20px;border-radius: 0;border: none;box-shadow: none;border-bottom: 1px solid #ccc;}

.contact-us form textarea{height: 178px;resize: none;border-radius: 0;border: none;box-shadow: none;margin-bottom: 20px;border-bottom: 1px solid #ccc;}

.contact-us form input[type="submit"]{display: block;margin: auto;}

footer{padding: 20px 0;background-color: #000;}

footer ul li{color: #fff;display: inline-block;}

footer ul li a {color: inherit;font-size: 30px;margin-right: 10px;}

footer .fa-facebook:hover,
footer .fa-facebook:focus { color: #3b5998;}

footer .fa-twitter:hover,
footer .fa-twitter:focus { color: #1da1f2;}

footer .fa-google-plus:hover,
footer .fa-google-plus:focus{ color: #dd4b39;}

footer .fa-pinterest:hover,
footer .fa-pinterest:focus{ color: #bd081c;}

footer .fa-instagram:hover,
footer .fa-instagram:focus{ color: #e1306c;}

footer .fa-stumbleupon:hover,
footer .fa-stumbleupon:focus{ color: #eb4924;}

footer .fa-rss:hover,
footer .fa-rss:focus{ color: #f26522;}

footer p { margin: 0; font-family: 'Raleway', sans-serif;}
/* framework */
p , .price-plan .period, .price-plan .pric-box ul li,input::placeholder , textarea::placeholder{color: #8a8a8a;}

.contact-us form input[type="text"]:focus,
.contact-us form input[type="email"]:focus,.header form .form-control:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.contact-us .head-border:after, .stylish .head-border:after,
.what-says .head-border:after, .why-awsome .head-border:after, /* centering head bottom border */
.price-plan .head-border:after{margin: 25px auto;}
.header , .stylish {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar-inverse .navbar-nav>li>a , .btn-white, .btn-yellow , .tabs .tab-switch li , footer ul li i ,.why-awsome .feature ,.price-plan .pric-box{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.why-awsome .feature:hover,
.price-plan .pric-box:hover{box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}

.padd-top-bott {padding: 80px 0;}
/* buutons  */
.btn-white{ /*transparent button */
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #fff;
    margin-top: 20px;
    font-size: 20px;
    outline: none;
}
.btn-white:hover { background: rgba(255, 255, 255, .3);}
/* yellow button*/
.btn-yellow{
    font-size: 18px;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #ff8b38 !important;
    color: #fff;
    margin-top: 30px;
    outline: none;
}
.btn-yellow:hover { background-color: rgba(255, 139, 56, 0.7) !important; color: #fff;}

.head-border::after{content: ''; display: block; width: 65px; height: 3px; margin: 25px 0; background-color: #ff8b38;}

/*----------------------------------- media -----------------------------------  */
@media (max-width: 991px){
    .padd-top-bott { padding: 40px 0; }

    .txt-center-xs { text-align: center; }

    .header h1 ~ .lead::after,
    .sublist .head-border::after { margin: 25px auto; display: block;}

    .tabs .tab-switch li{ border-right: 1px solid #fff;}

    .header form{width: 100%;}
    .tabs .tab-switch li { width: 33.333333%; float: left;}

    .tabs .tabs-content { padding-left: 0;}

    .tabs .tabs-content .tab1 h2{margin-top: 130px; font-size: 20px;}

    .tabs .tabs-content .btn-yellow,.why-awsome .feature,
    .what-says .media,.btn-white { margin-bottom: 20px;}

    .sublist .list-icon .icon{width: 100%}

    .sublist .list-icon .icon-desc{width: 100%}

    .header h1 ~ .lead,.contact-us h6,.stylish h6,
    .what-says h6,.price-plan h6,.why-awsome h5 {font-size: 25px; }
    
    footer ul li a {font-size: 20px;}
}
