body{
    font-family: 'Open Sans', sans-serif;
    height: 10000px;
}


/* header */
.header{
    height: 100vh;
    background: url(../images/header.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    color: #fff;
}
.header .overlay{
    padding-top: 130px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
}
.header h1{
    font-weight: bold;
    font-size: 50px;
    margin-top: 0;
}
.header h1 span{
    font-weight: 100;
    color: #ff8b38;
}
.header h1 ~ .lead{
    font-size: 30px;
}
.header h1 ~ .lead::after{
    content: '';
    display: block;
    height: 2px;
    width: 70px;
    background-color: #fff;
    margin: 25px 0;
}
.header p:nth-child(3){
    font-family: 'Raleway', sans-serif;
    line-height: 2;
}
.header button{
    background: transparent;
    padding: 10px 20px;
    border: 2px solid #fff;
    margin-top: 20px;
    font-size: 20px;
    outline: none;
}
.header form{
    width: 360px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.header form h2{
    background-color: #f5f5f5;
    color: #333;
    padding: 10px;
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}
.header form h2 span{
    color: #ff8b38;
}
.header form .form-control{
    width: 80%;
    margin:40px auto;
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}
.header form input[type="submit"]{
    background-color: #ff8b38;
    padding: 15px;
}

/* social media */
.social{
    background-color: #fff;
    -webkit-box-shadow: -2px -5px 13px #000;
    -moz-box-shadow: -2px -5px 13px #000;
    -o-box-shadow: -2px -5px 13px #000;
    box-shadow: -2px -5px 13px #000;
}
.social h3{
    font-weight: bold;
    margin-bottom: 5px;
}
.social p{
    color: #929292;
}
.social i {
    color: #ccc;
    margin: 40px 15px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.social .fa-facebook:hover{
    color: #3b5998 ;
}
.social .fa-twitter:hover{
    color: #1da1f2 ;
}
.social .fa-google-plus:hover{
    color: #dd4b39 ;
}
.social .fa-pinterest:hover{
    color: #bd081c ;
}
.social .fa-instagram:hover{
    color: #e1306c ;
}
.social .fa-stumbleupon:hover{
    color: #eb4924 ;
}
.social .fa-rss:hover{
    color: #f26522;
}
/* tabs section */
.tabs{
    padding: 90px 0;
    background-color: #f5f5f5;
}
.tabs .tab-switch li{
    background-color: #333;
    color: #fff;
    border-bottom: 1px solid #fff;
    height: 110px;
    font-size: 20px;
    line-height: 110px;
    text-align: center;
    cursor: pointer;
}
.tabs .tab-switch li.selected,
.tabs .tab-switch li:hover{
    background-color: #ff8b38;
}
.tabs .tabs-content{
    padding-left: 50px;
}
.tabs .tabs-content .tab1 h4{
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 20px;
}
.tabs .tabs-content p{
    line-height: 1.6;
    font-size: 18px;
    color: #5e5e5e;
}
.tabs .tabs-content button{
    background-color: #ff8b38;
    color: #fff;
    padding: 10px 30px;
    margin-top: 30px;
    outline: none;
    font-size: 18px;
}

/* sublist section */
.sublist{
    padding: 80px 0;
}
.sublist .sublist-head{
    font-weight: bold;
    font-size: 22px;
}
.sublist .sublist-desc{
    color: #777;
    line-height: 1.7;
    margin-bottom: 25px;
}
.sublist .list-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sublist .list-icon .icon-desc{
    width: calc(100% - 70px);
}
.sublist .list-icon .icon-desc h6{
    font-weight: bold;
    font-size: 18px;
}
.sublist .list-icon i {
    height: 40px;
    width: 40px;
    color: #ff8b38;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

/* standard picture section */
.standard-pic{
    background-color: #f5f5f5;
}

/* why this is awesome */
.why-awsome {
    padding: 60px 0;
}
.why-awsome h6{
    font-weight: bold;
    font-size: 50px;
    font-family:  'Raleway', sans-serif;
}
.why-awsome .awesome-desc{
    margin-bottom: 50px;
    color: #b9b9b9;
}
.why-awsome i{
    color: #ff8b38;
    height: 70px;
    width: 70px;
    line-height: 65px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
}
.why-awsome h3{
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}
.why-awsome .featur-desc{
    color: #b9b9b9;
}

/* price option */
.price-plan {
    background-color: #f5f5f5;
    padding: 60px 0;
}
.price-plan h6{
    font-size: 40px;
}
.price-plan .plan-desc{
    margin-bottom: 50px;
    color: #b9b9b9;
}
.price-plan .pric-box {
    background-color: #fff;
}
.price-plan .pric-box h3{
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    margin: 0;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}
.price-plan .pric-box .price-option{
    background-color: #333;
    color: #fff;
    padding: 10px 0 20px;
    border-bottom: 5px solid #ff8b38;
}
.price-plan  .price{
    font-size: 70px;
    display: block;
    font-weight: bold;
}
.price-plan .price .usd{
    font-size: 20px;
}
.price-plan .period{
    color: #adadad;
    font-style: italic;
}
.price-plan .pric-box .popular{
    color: #fff;
    padding: 5px 10px 10px;
    margin-bottom: 0;
    font-weight: bold;
    background-color: #ff8b38;
}
.price-plan .pric-box ul li{
    padding: 10px;
    border-bottom: .5px solid #f5f5f5;
    color: #8c8c8c;
}
.price-plan .basic,
.price-plan .enterprise{
    margin-top: 35px;
}











/* framework */
.head-border::after{
    content: '';
    display: block;
    width: 65px;
    height: 3px;
    margin: 25px 0;
    background-color: #ff8b38;
}
.head-border-center::after{
    content: '';
    display: block;
    width: 65px;
    height: 3px;
    margin: 20px auto;
    background-color: #ff8b38;
}